@import './vars';
@import '../../node_modules/bootstrap/scss/bootstrap-reboot.scss';
@import '../../node_modules/bootstrap/scss/bootstrap-grid.scss';
@import '../../node_modules/bootstrap/scss/utilities/_spacing.scss';
@import '../../node_modules/bootstrap/scss/utilities/_display.scss';
@import '../../node_modules/bootstrap/scss/_dropdown.scss';

* {
  box-sizing: border-box;
}

html, body {
	margin: 0;
}

body {
	min-width: 320px;
	position: relative;
	color: $text_color;
  line-height: 1.2;
	font-size: $font_size;
  font-weight: normal;
  font-family: $default_family;
  overflow-x: auto;
  opacity: 1;
}

img, video {
  max-width: 100%;
  height: auto;
}

a {
  color: $text_color;
  text-decoration: none;

  &:hover {
    color: $text_color;
    text-decoration: none;
  }

  .inverse & {
    color: #fff;
    &:hover {
      color: #fff;
    }
  }
}

input, button, textarea, a {
  &, &:hover, &:focus {
    outline: none;
  }
}

p {
	margin: 0 0 1em 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.inverse {
  color: #fff;
}

.accent {
  color: $accent;
}

.bold {
  font-weight: bold;
}

.light {
  font-weight: 300;
}

.word {
  white-space: nowrap;
}

.text {
  &-phone {
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
  }

  &-center {
    text-align: center;
  }

  &-right {
    text-align: right;
  }
}

.hamburger {
  background-color: #fff;
  padding: 10px;
	line-height: 0;
  display: none;
  margin-left: 20px;
	    
  &-box {
    width: 30px;
  }

  &-inner {
    &, &:after, &:before {            
      border-radius: 0;
      width: 100%;
      height: 2px;        
    }

    & {
      margin-top: -1px;
    }

    &:before {
      top: 0;
    }

    &:after {
      bottom: -7px;
    }
  }
}

.grow {
  flex-grow: 1;
}

.page-top {
	position: fixed;
	bottom: 20px;
	right: -100px;
	z-index: 99;
	cursor: pointer;
	@include circle(50px);
	background-color: $accent;
	font-size: 25px;
	color: #ffffff;
	opacity: .3;
	transition: all .5s ease-out;	

	&.active {		
		right: 20px;			
	}

	&:hover {
		opacity: 1;
	}
}

.call-me {
  position: fixed;
	bottom: 20px;
	left: 20px;
	z-index: 99;
	cursor: pointer;
  @include circle(50px);
  background-color: #58ea00;
  cursor: pointer;
  display: none;

  .fa {
    color: #fff;
    font-size: 25px;
    position: relative;
    top: 1px;
  }

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: -15px;
    left: -15px;
    right: -15px;
    bottom: -15px;
    border: 1px solid #58ea00;
    border-radius: 50%;
    animation: pulse 1.5s linear infinite;
  }

  &:after {
    animation-delay: 0.5s;
  }
}

@keyframes pulse {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

.button {
  position: relative;
  display: inline-block;
  text-decoration: none;
  padding: 12.5px 20px;
  font-size: 13px;
  line-height: 1;
  font-weight: normal;
  text-align: center;
  background-color: $accent;
  color: #fff !important;
  white-space: nowrap;
  border: 1px solid $accent;
  border-radius: 2px;
  box-shadow: 0px 7px 12.61px 0.39px rgba(238, 29, 35, 0.49);
  cursor: pointer;

  &:hover {
    background-color: transparent;
    border: 1px solid $accent;
    color: $accent !important;
  }    

  &:active {
    top: 1px;
  }

  &--noshadow {
    box-shadow: none;
  }

  &--noback {
    background-color: transparent;
    box-shadow: none;
    color: $accent !important;

    &:hover {
      background-color: $accent;
      color: #fff !important;
    }
  }

  &--disabled {
    box-shadow: none;
    background-color: transparent !important;
    border: 1px dashed #7b7b7b;
    color: #7b7b7b !important;
  }
}

.input-div {
  position: relative;
  
  .input {
    width: 100%;  
  }
}

.input, .textarea {
  color: $text_color;
  font-size: 13px;
  line-height: 1;
  border: 1px solid $accent;
  background-color: transparent;
  font-family: $default_family, sans-serif;
  padding: 10px 10px;   

  &.error {
    border-color: red;
    color: red;

    &+.error-message {
      display: block;
    }
  }

	&+.error-message {
    display: none;
    text-align: left;
    color: red;
    font-size: 13px;
    padding-left: 11px;
    margin-top: 5px;
	}

	&::-webkit-input-placeholder {
    color: #808080;
		opacity: 1;
	}
	
	&::-moz-placeholder {
    color: #808080;
		opacity: 1;
	}
	
	&:-ms-input-placeholder {
    color: #808080;
		opacity: 1;
  }
  
  .inverse & {
    color: #fff;

    &::-webkit-input-placeholder {
      color: #fff;
    }
    
    &::-moz-placeholder {
      color: #fff;
    }
    
    &:-ms-input-placeholder {
      color: #fff;
    } 
  }
	
	&.error::-webkit-input-placeholder {
		color: red;
	}
	
	&.error::-moz-placeholder {
		color: red;
	}
	
	&.error:-ms-input-placeholder {
		color: red;
	}
}

.form {
  position: relative;  
    
  &__title {
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    margin-bottom: 20px;

    &__1 {
      font-size: 18px;
      font-weight: bold;
      text-align: center;
      margin-bottom: 10px;
    }
  }

  .input-div, .button {
    margin-bottom: 10px;
  }

  &__info {
    font-size: 10px;
    text-align: left;
  }

  &--horizontal {
    .form {
      &__content, &__info {
        max-width: 800px;
        margin: 0 auto;
      }

      &__content {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
      }
    }

    .input-div {
      flex-grow: 1;
      margin-right: 10px;
    }
  }

  &--vertical {
    .form {
      &__content {
        max-width: 260px;
        margin: 0 auto;    
      }
    }

    .button {
      width: 100%;
    }
  }
}

.owl-carousel {
  &.has-nav {
    padding: 0 30px;
  }

	.owl {
    &-stage {
      display: flex;
      padding: 20px 15px;
    }

    &-item {
      float: none;
      display: flex;
      justify-content: center;
      padding: 15px;

      img {
        width: auto;
        margin: 0 auto;
      }

      & > * {
        box-shadow: 0px 3px 12.61px 0.39px rgba(0, 0, 0, 0.17);
        transition: 0.5s transform;    

        &:hover {
          transform: scale(1.15);
        } 
      }
    }

		&-prev, &-next {
			position: absolute;
			top: 50%;
			width: 26px;
      height: 50px;
      background-image: url('../img/arrow-left.png') !important;
      background-repeat: no-repeat !important;
      background-position: center center !important;
      margin-top: -25px;
      outline: 0;
      z-index: 10;

      &.disabled {
        background-image: url('../img/arrow-left-disabled.png') !important;
      }
		}

		&-prev {
      left: 0px;
		}

		&-next {
      right: 0px;
      transform: rotate(-180deg);
    }

    &-dots {
      position: relative;
      text-align: center;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      margin-top: 15px;
    }
    
    &-dot {
      width: 7px;
      height: 7px;
      border: 1px solid $accent !important;
      margin: 0 5px;
      border-radius: 50%;

      &.active {
        width: 11px;
        height: 11px;
        background-color: $accent;
      } 
    }
	}
}

.remodal {
  text-align: left;
  color: $text_color;
  max-width: 80%;

  &-close {
    left: auto;
    right: 0;
    color: $text_color;
    z-index: 20;

    &:before {
      font-size: 35px;
    }
  }

  &--small {
    max-width: 400px;
    padding: 60px 25px;
  }
}