
@import "vars";

/*==========  Desktop First  ==========*/

// ≥1200px
@include media-breakpoint-down(lg) {
	.footer {
    text-align: center;

    &__address {
      text-align: left;
    }

    &__content {
      flex-direction: column;
      padding-top: 15px;

      & > * {
          margin: 0 0 20px 0 !important;    
        &:last-child {
          margin: 0 !important;
        }        
      }
    }
  }
}

// ≥992px
@include media-breakpoint-down(md) {
  .hamburger {
    display: block;
  }    

  .header {
    padding: 5px 0;

    .logo {
      z-index: 1;
    } 
  }  

	.main-menu {
    display: none;
    background-color: #292929;
    position: fixed;
    top: 80px;
    left: 0;
    right: 0;
    text-align: left;
    margin-left: 0;
    padding: 10px 0;

		ul {
			display: block;
			height: auto;
      padding: 0;
      margin: 0;
      text-align: right;

			li {
        margin: 0 0 5px;

        &:last-child {
          margin: 0;
        }
			}
		}
  }    

  .s-information {
    .information {
      margin-bottom: 20px;
    }
  }
}

// ≥768px
@include media-breakpoint-down(sm) {  

  .form {
    &--horizontal {
      .form {
        &__content {
          flex-direction: column;
          max-width: 500px;
        } 
        
        &__info {
          max-width: 500px;
        }
      }

      .input-div {
        margin-right: 0;
      }  
    }

    .input-div, .button {
      width: 100%;
    }
  }

  .logo {
    max-width: 200px;
  }

  .header {
    .grow {
      display: block;
    }
  }

  .section {
    &-title {
      font-size: 24px;
    }      
  }

  .s-main {
    &__title {
      font-size: 26px;
    }

    &__img {
      display: none;
    }
  } 

  .s-us {
    &__img {
      margin-bottom: 15px;
      text-align: center;
    }

    &__text {
      margin-bottom: 10px;
    }
  }

  .s-vyibor {
    &__content {
      padding: 0 30px;
    }
    .vyibor {
      &__number {
        display: block;
      }

      &__text {
        display: none;
      }

      &-1 {
        left: 12%;
      }

      &-2 {
        top: 60%;
        left: 33%;
      }

      &-3 {
        top: -3%;
      }

      &-4 {
        left: 83%;
      }
    }
  }

  .s-reviews {
    .carousel-reviews {
      padding: 0;
    }
  }

  .s-shop {
    .slick {  
      &-track {
        padding: 0;
      }
  
      &-center {
        img {
          transform: none;
        }
      }
    }
  }
}

// ≥576px
@include media-breakpoint-down(xs) {
  .call-me {
    display: flex;
  }

  .owl-carousel {
    &.has-nav {
      padding: 0;
    }
  
    .owl {
      &-stage {
        padding: 0;
      }
  
      &-item {
        & > *:hover {
          transform: none;
        }
      }
    }
  }

  .s-ka4estva {
    .form {
      &__block {
        display: block;
      }
    }

    &__img {
      text-align: center;
    }
  }

  .s-thanks {
    padding: 150px 0 50px;
    
    &-title {
      font-size: 30px;
    }

    &-text {
      font-size: 16px;
      margin-bottom: 40px;
    }
  }

  .s-vybor {
    &__content {
      .vyibor {
        position: static;
      }
    }
  }

  .s-reviews {
    .review {
      padding: 0px;
      margin-bottom: 15px;

      &__content {
        padding: 0;
        box-shadow: none;
      }

      &__image {
        position: static;
        margin-bottom: 15px;

        img {
          margin: 0 auto 15px;
        }
      }
    }
  }

  .s-shop {
    .slick {    
      &-center {
        img {
          transform: none;
        }
      }
    }
  }
}


/*==========  Mobile First  ==========*/

// ≤576px
@include media-breakpoint-up(sm) {
  
}

// ≤768px
@include media-breakpoint-up(md) {

}

// ≤992px
@include media-breakpoint-up(lg) {
  .main-menu {
		.container {
			width: auto;
			padding: 0;
		}
  }
}

// ≤1200px
@include media-breakpoint-up(xl) {
	.owl-carousel {
    &.has-nav {
      margin-left: -30px;
      margin-right: -30px;
      width: auto;      
    }
  }
}