@import './base';


.page-wrapper {
  overflow: hidden;
  min-height: 100vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.dropdown {
  &-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 0 auto;

    &:after {
      font-size: 2em;
    }
  }
}

.phone-block {
  position: relative;
  padding-left: 35px;
  margin-right: 20px;

  &:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 26px;
    height: 26px;
    background-image: url('../img/telephone.png');
  }

  a {
    display: block;
  }
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 98;
  background-color: #292929;

  &--scrolled {
  }

  &__content {
    position: relative;
    padding-left: 145px;
    height: 70px;
    display: flex;
    align-items: center;
  }

  .logo {
    position: absolute;
    top: -10px;
    left: 0;
  }

  &__title {
    font-size: 14px;
    font-weight: normal;
    max-width: 220px;
  }
}

.footer {
  background-color: #292929;

  .logo {
    margin-right: 100px;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    font-size: 14px;
    font-weight: normal;
    max-width: 220px;
  }

  &__address {
    margin-right: 40px;
    display: flex;

    .fa {
      color: $accent;
      font-size: 30px;
      margin-right: 10px;
    }
  }

  &__phone {
    margin-right: 55px;
  }

  &__comand {
    margin-left: 100px;

    a {
      margin-top: 3px;
      display: block;
    }
  }  
  
  &__info {
    text-align: center;
    font-size: 13px;
    color: #ababab;
    padding: 15px 0;
  }
}

.main-menu {    
  ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0 60px 0 0;
  }

  li {
    margin-right: 25px;

    &.last {
      margin-right: 0;
    }
  }

  a {
    display: inline-block;
    line-height: 1.5;
    text-decoration: none;
    font-weight: normal;
    border-bottom: 2px solid transparent;

    &.link {
      &:hover, &.active {
        border-bottom: 2px solid $accent;
      }
    }
  }
}

.section {
  padding: 40px 0 35px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  &-title {
    font-size: 30px;
    font-weight: bold;
    margin: 0 auto 30px;
    text-align: center;

    .inverse & {
      color: #fff;
    }
  }

  &--gray {
    background-color: #f2f2f2;
  }
}

.s-main {
  position: relative;
  padding-top: 150px;
  
  &__img {
    position: absolute;
    top: -20px;
    left: calc(100% - 70px);
  }

  &__title {
    font-size: 42px;
    font-weight: bold;
    margin: 0 0 35px 0;
  }

  &__text {
    font-size: 20px;
    margin-bottom: 20px;
  }

  &__list {
    @include list();
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    max-width: 350px;
    margin-bottom: 45px;

    li {
      display: flex;
      align-items: flex-end;
    }

    img {
      margin-right: 15px;
    }
  }

  .form {
    &__title {
      text-align: left;
    }

    &__content {
      justify-content: flex-start;
    }
  }
}

.s-vyibor {
  text-align: center;

  &__content {
    position: relative;
    display: inline-block;
    padding: 0 125px 0 115px;
  }

  &__list {
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    margin-top: 10px;
  }

  .vyibor {
    position: absolute;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    text-align: left;

    &__number {
      display: none;
    }

    &__circle {
      background-color: $accent;
      box-shadow: 0px 2px 7.6px 0.4px rgba(168, 27, 31, 0.7);
      margin-right: 10px;
      @include circle(28px);

      &:before {
        content: "";
        display: block;
        width: 12px;
        height: 12px;
        background-image: url('../img/plus.png');
      }
    }

    &--left {
      flex-direction: row-reverse;
      text-align: right;
      transform: translateX(-100%);

      .vyibor__circle {
        margin: 0 0 0 10px;
      }
    }

    &-1 {
      top: 10%;
      left: 20%;
    }

    &-2 {
      top: 60%;
      left: 37%;
    }

    &-3 {
      top: 0;
      left: 55%;
    }

    &-4 {
      top: 25%;
      left: 75%;
    }

    &-5 {
      top: 83%;
      left: 64%;
    }
  }
}

.s-katalog {
  .tab {
    margin: 0 10px;
  }

  .katalog {
    width: 100%;
    max-width: 270px;
    margin: 0 auto;
    padding: 30px 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 0px 3px 12.61px 0.39px rgba(0, 0, 0, 0.17);
    transition: 0.5s transform;

    &__img {
      margin: 0 auto 18px;
      width: 76px;
      height: 134px;
    }

    &__title {
      font-size: 14px;
      font-weight: normal;
      color: #373737;
      flex-grow: 1;
      margin-bottom: 18px;
    }

    &:hover {
      transform: scale(1.15);
    } 
  }

  .carousel-katalog {
    .owl-item {
      
    }

    .owl-stage {
      // padding: 20px 30px;
    }
  }
}

.s-us {

  &__content {
    margin-bottom: 35px;
  }

  &__text {
    color: #373737;
    margin-bottom: 15px;
  }

  .form {
    max-width: 870px;
    margin: 0 auto;
    background: #fff;
    box-shadow: 0px 3px 12.61px 0.39px rgba(0, 0, 0, 0.17);
    padding: 25px;
    // z-index: 98;

    &__title {
      font-size: 14px;
    }
  }
}

.s-video {
  padding-top: 125px;
  margin-top: -125px;

  &__video {
    text-align: center;
  }
}

.s-ka4estva {

  .form {

    &__block {
      display: flex;
      max-width: 500px;
      justify-content: space-between;
      margin: 0 auto;
      align-items: flex-end;
      margin-top: 20px;
    }
  }
}

.s-information {

  .information {
    box-shadow: 0px 3px 12.61px 0.39px rgba(0, 0, 0, 0.17);
    padding: 25px;
    flex-grow: 1;

    &__title {
      padding: 8px 40px 8px 25px;
      display: inline-block;
      background-color: $accent;
      font-size: 18px;
      color: #fff;
      margin: 0 0 20px -25px;
    }

    &__text {
      color: #5b5b5b;
      margin-bottom: 20px;
    }
  }
}

.s-garant {
  background-image: url("../img/garant-back.jpg");
  padding: 40px 0 60px;

  &__img {
    text-align: center;
    margin-bottom: 10px;
  }

  &__title {
    text-align: center;
    margin-bottom: 15px;
  }
}

.s-thanks {
  padding: 200px 0 100px 0;
  flex-grow: 1;
    
  &__title {
    color: $accent;
    font-size: 48px;
    font-weight: normal;
    margin-bottom: 30px;
  }

  &__text {
    font-size: 24px;
    margin: 0 0 125px;
  }

  &__link {
    text-decoration: underline;
    color: $accent;
  }
}



@import './_media';