@import './base';


.page-wrapper {
  overflow: hidden;
  min-height: 100vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 98;
  padding: 10px 0;
  height: 70px;
  background-color: #292929;

  &--scrolled {
  }

  &__content {
    position: relative;
    padding-left: 145px;
    display: flex;
    align-items: center;
  }

  .logo {
    position: absolute;
    top: -10px;
    left: 0;
  }

  &__title {
    font-size: 14px;
    font-weight: normal;
    max-width: 220px;
  }

  &__phone {
    position: relative;
    padding-left: 30px;
    margin-right: 20px;

    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 26px;
      height: 26px;
      background-image: url('../img/telephone.png');
    }

    a {
      display: block;

    }
  }
}

.footer {
  background-color: $accent;
  font-size: 16px;

  .logo {
    margin-right: 100px;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
  }

  &__address {
    max-width: 165px;
    margin-right: 40px;
  }

  &__phone {
    margin-right: 55px;
  }

  &__comand {
    margin-left: 100px;

    a {
      margin-top: 3px;
      display: block;
    }
  }   
}

.main-menu {    
  ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0 60px 0 0;
  }

  li {
    margin-right: 25px;

    &.last {
      margin-right: 0;
    }
  }

  a {
    display: inline-block;
    line-height: 1.5;
    text-decoration: none;
    font-weight: normal;
    border-bottom: 2px solid transparent;

    &.link {
      &:hover, &.active {
        border-bottom: 2px solid $accent;
      }
    }
  }
}

.section {
  padding: 40px 0 35px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  &-title {
    font-size: 30px;
    font-weight: bold;
    margin: 0 auto 30px;
    text-align: center;

    .inverse & {
      color: #fff;
    }
  }
}

.s-main {
  position: relative;
  padding-top: 150px;
  
  &__img {
    position: absolute;
    top: -20px;
    left: calc(100% - 70px);
  }

  &__title {
    font-size: 42px;
    font-weight: bold;
    margin: 0 0 35px 0;
  }

  &__text {
    font-size: 20px;
    margin-bottom: 20px;
  }

  &__list {
    @include list();
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    max-width: 350px;
    margin-bottom: 45px;

    li {
      display: flex;
      align-items: flex-end;
    }

    img {
      margin-right: 15px;
    }
  }

  .form {
    &__title {
      text-align: left;
    }

    &__content {
      justify-content: flex-start;
    }
  }
}

.s-vyibor {
  .vyibor {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: bold;

    &__number {
      display: none;
    }

    &__circle {
      background-color: $accent;
      box-shadow: 0px 2px 7.6px 0.4px rgba(168, 27, 31, 0.7);
      margin-right: 10px;
      @include circle(28px);

      &:before {
        content: "";
        display: block;
        width: 12px;
        height: 12px;
        background-image: url('../img/plus.png');
      }
    }

    &--left {
      flex-direction: row-reverse;
      text-align: right;

      .vyibor__circle {
        margin: 0 0 0 10px;
      }
    }
  }
}

.s-thanks {
  padding: 200px 0 100px 0;
  flex-grow: 1;
    
  &__title {
    color: $accent;
    font-size: 48px;
    font-weight: normal;
    margin-bottom: 30px;
  }

  &__text {
    font-size: 24px;
    margin: 0 0 125px;
  }

  &__link {
    text-decoration: underline;
    color: $accent;
  }
}



@import './_media';